@charset "utf-8";


.flexslider { overflow:hidden; }

@media screen and (min-width:1350px) {

    .slides li { position:relative; }
    .fs-bg { height:600px; }
    .fs-bg-1 {
        background:url('../imgs/slide1.jpg') no-repeat center center;
        background-size:cover;
    }
    .fs-bg-2 {
        background:url('../imgs/slide2.jpg') no-repeat center center;
        background-size:cover;
    }
    .fs-text {
        position:absolute; left:15%; top:35%;
        color:#f6f6f6;
    }
    .fs-text h2 { font-size:52px; text-shadow:2px 2px 4px #000; }
    .fs-text p { width:400px; font-size:20px; }
    p.bg-text-2 { width:650px; }
    /*===== 자세히보기 버튼 =====*/
    .slide-btn {
        position:relative;
        width:200px; height:60px; margin-top:35px;
        font-size:18px; color:#f6f6f6; text-align:center; line-height:56px;
        border:2px solid #f6f6f6; border-radius:30px; overflow:hidden;
    }
    .slide-btn::before {
        content:'';
        display:block;
        position:absolute;
        width:0; height:100%;
        background:rgba(20, 80, 230, 0.5); border-radius:30px;
        transition:all 0.3s ease-in;
    }
    .slide-btn:hover::before { width:100%; }



    section#main {
        display:flex;
        width:1300px; margin:50px auto 75px; 
    }
    article {
        width:325px; padding:0 30px;
        background:url('../imgs/at-bar.jpg') no-repeat right center;
    }
    article:last-child { background:none; }
    h4 { font-size:35px; color:#06f; font-weight:600; }
    .at-bg { width:265px; height:80px; margin:15px 0 20px; }
    .at-bg-1 { background:url('../imgs/at-bg-1.jpg'); }
    .at-bg-2 { background:url('../imgs/at-bg-2.jpg'); }
    .at-bg-3 { background:url('../imgs/at-bg-3.jpg'); }
    .at-bg-4 { background:url('../imgs/at-bg-4.jpg'); }


}


@media screen and (min-width:1050px) and (max-width:1349px) {

    .slides li { position:relative; }
    .fs-bg { height:500px; }
    .fs-bg-1 {
        background:url('../imgs/slide1.jpg') no-repeat center center;
        background-size:cover;
    }
    .fs-bg-2 {
        background:url('../imgs/slide2.jpg') no-repeat center center;
        background-size:cover;
    }
    .fs-text {
        position:absolute; left:15%; top:35%;
        color:#f6f6f6;
    }
    .fs-text h2 { font-size:46px; text-shadow:2px 2px 4px #000; }
    .fs-text p { width:350px; font-size:18px; }
    p.bg-text-2 { width:600px; }
    /*===== 자세히보기 버튼 =====*/
    .slide-btn {
        position:relative;
        width:180px; height:60px; margin-top:35px;
        font-size:18px; color:#f6f6f6; text-align:center; line-height:56px;
        border:2px solid #f6f6f6; border-radius:30px; overflow:hidden;
    }
    .slide-btn::before {
        content:'';
        display:block;
        position:absolute;
        width:0; height:100%;
        background:rgba(20, 80, 230, 0.5); border-radius:30px;
        transition:all 0.3s ease-in;
    }
    .slide-btn:hover::before { width:100%; }



    section#main {
        display:flex;
        width:975px; margin:50px auto 75px; 
    }
    article {
        width:325px; padding:0 30px;
        background:url('../imgs/at-bar.jpg') no-repeat right center;
    }
    article:last-child { display:none; }
    article:nth-child(3) { background:none; }
    h4 { font-size:35px; color:#06f; font-weight:600; }
    .at-bg { width:265px; height:80px; margin:15px 0 20px; }
    .at-bg-1 { background:url('../imgs/at-bg-1.jpg'); }
    .at-bg-2 { background:url('../imgs/at-bg-2.jpg'); }
    .at-bg-3 { background:url('../imgs/at-bg-3.jpg'); }
    .at-bg-4 { background:url('../imgs/at-bg-4.jpg'); }


}


@media screen and (min-width:600px) and (max-width:1049px) {

    .slides li { position:relative; }
    .fs-bg { height:500px; }
    .fs-bg-1 {
        background:url('../imgs/slide1.jpg') no-repeat center center;
        background-size:cover;
    }
    .fs-bg-2 {
        background:url('../imgs/slide2.jpg') no-repeat center center;
        background-size:cover;
    }
    .fs-text {
        position:absolute; left:50%; top:170px;
        color:#f6f6f6; text-align:center;
        transform:translate(-50%, 0);
    }
    .fs-text h2 { font-size:42px; text-shadow:2px 2px 4px #000; white-space:nowrap; }
    .fs-text p { width:350px; margin:0 auto; font-size:18px; }
    p.bg-text-2 { width:550px; }
    /*===== 자세히보기 버튼 =====*/
    .slide-btn {
        position:relative; left:50%;
        width:180px; height:60px; margin-top:35px;
        font-size:18px; color:#f6f6f6; text-align:center; line-height:56px;
        border:2px solid #f6f6f6; border-radius:30px; overflow:hidden;
        transform:translate(-50%,0);
    }
    .slide-btn::before {
        content:'';
        display:block;
        position:absolute;
        width:0; height:100%;
        background:rgba(20, 80, 230, 0.5); border-radius:30px;
        transition:all 0.3s ease-in;
    }
    .slide-btn:hover::before { width:100%; }



    section#main {
        display:flex; flex-wrap:wrap;
        width:100%; margin:50px 0 75px;
    }
    article {
        width:50%; padding:0 30px;
        background:url('../imgs/at-bar.jpg') no-repeat right center;
    }
    article:nth-child(2), article:nth-child(4) { background:none; }
    article:nth-child(3), article:nth-child(4) { margin-top:30px; }
    h4 { font-size:30px; color:#06f; font-weight:600; }
    .at-bg { width:100%; height:100px; margin:15px 0 20px; }
    .at-bg-1 { background:url('../imgs/at-mb-bg-1.jpg'); }
    .at-bg-2 { background:url('../imgs/at-mb-bg-2.jpg'); }
    .at-bg-3 { background:url('../imgs/at-mb-bg-3.jpg'); }
    .at-bg-4 { background:url('../imgs/at-mb-bg-4.jpg'); }


}


@media screen and (max-width:599px) {

    .slides li { position:relative; }
    .fs-bg { height:100vh; }
    .fs-bg-1 {
        background:url('../imgs/slide1.jpg') no-repeat center center;
        background-size:cover;
    }
    .fs-bg-2 {
        background:url('../imgs/slide2.jpg') no-repeat -600px center;
        background-size:cover;
    }
    .fs-text {
        position:absolute; left:50%; top:50%;
        width:350px; color:#f6f6f6; text-align:center;
        transform:translate(-50%,-50%);
    }
    .fs-text h2 { font-size:42px; line-height:42px; text-shadow:2px 2px 4px #000; }
    .fs-text p { width:300px; margin:30px auto; font-size:16px; }
    /*===== 자세히보기 버튼 =====*/
    .slide-btn {
        position:relative; left:50%;
        width:150px; height:50px; margin-top:40px;
        font-size:18px; color:#f6f6f6; text-align:center; line-height:46px;
        border:2px solid #f6f6f6; border-radius:30px; overflow:hidden;
        transform:translate(-50%,0);
    }
    .slide-btn::before {
        content:'';
        display:block;
        position:absolute;
        width:0; height:100%;
        background:rgba(20, 80, 230, 0.5); border-radius:30px;
        transition:all 0.3s ease-in;
    }
    .slide-btn:hover::before { width:100%; }



    section#main { width:100%; margin-bottom:30px; }
    article { padding:20px; }
    article:first-child { padding-top:0; }
    h4 { font-size:26px; color:#06f; font-weight:600; }
    .at-bg { height:80px; margin:15px 0; }
    .at-bg-1 { background:url('../imgs/at-mb-bg-1.jpg'); }
    .at-bg-2 { background:url('../imgs/at-mb-bg-2.jpg'); }
    .at-bg-3 { background:url('../imgs/at-mb-bg-3.jpg'); }
    .at-bg-4 { background:url('../imgs/at-mb-bg-4.jpg'); }


}